{% extends "layouts/base.html" %}

{% block title %} Completed Tasks {% endblock %} 
{% block page_title %} Completed Tasks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
      <div id="completed_task">
      </div>
      <div class="position-fixed bottom-1 end-1 z-index-2">
        <div class="toast fade hide p-2 bg-white mb-3" id="test-copy">
          <div class="toast-header border-0">
            <i class="material-icons text-success me-2">check</i>
            <span class="me-auto font-weight-bold">Commands Copied Successfully!</span>
          </div>
        </div>  
      </div>      
    </div>

      {% include 'includes/footer.html' %}    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script>
  function updateCompletedTask(visData) {
    const container = document.getElementById('completed_task');
    let currentHtml = '';
    let terminatedStatus;
    

    for (let idx = 0; idx < visData.runner_visualization.task_status.completed_tasks.length; idx++) {
      if (visData.runner_visualization.task_status.completed_tasks[idx].terminated) {
        terminatedStatus = '<span class="badge badge-sm bg-gradient-danger">Terminated</span>'
      }
      else {
        terminatedStatus = '<span class="badge badge-sm bg-gradient-success">Completed</span>'
      }
      currentHtml += `<div class="row">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h4>
                ${visData.runner_visualization.task_status.completed_tasks[idx].task_id}
              </h4>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Status :</strong> &nbsp; ${terminatedStatus} </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Start Time :</strong> &nbsp; ${visData.runner_visualization.task_status.completed_tasks[idx].start_time_readable} </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Time Taken :</strong> &nbsp; ${visData.runner_visualization.task_status.completed_tasks[idx].total_time}  </li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">GPU IDs :</strong> &nbsp; ${visData.runner_visualization.task_status.completed_tasks[idx].gpu_ids}</li>
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Command :</strong> &nbsp; <span id='command_text_${idx}'>${visData.runner_visualization.task_status.completed_tasks[idx].command}</span></li>
                <div> 
                </div>
              </ul>
              <div class='text-end'>
                <button class="btn btn-link text-dark px-3 py-0 mb-0" onclick="copyCommandToClipboard('command_text_${idx}')"><i class="material-icons text-m me-2">copy</i></button>
                <button class="btn btn-link text-dark px-3 py-0 mb-0" onclick="window.open('/view_log/${visData.runner_visualization.task_status.completed_tasks[idx].task_id}', '_blank')"><i class="material-icons text-m me-2">open_in_new</i></button> 
              </div>
            </div>
          </div>
        </div>`
    }
    container.innerHTML = currentHtml
  }
  
  socket.on('update_vis_data', function(visData_local) {
        console.log('Received new data!');
        updateCompletedTask(visData_local);
        
  });

  function copyCommandToClipboard(element_id) {
    const commandText = document.getElementById(element_id).textContent;
    const commands = commandText.split(';').slice(1).join(';').slice(1);
    navigator.clipboard.writeText(commands).then(() => {
      console.log('Commands copied to clipboard');
      const toastElement = document.getElementById('test-copy');
      const toast = new bootstrap.Toast(toastElement);
      toast.show();
    }).catch((error) => {
      console.error('Error copying commands to clipboard:', error);
    });
  }
</script>
{% endblock javascripts %}
